html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: rgba(228, 228, 228, 0.96);
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0 50px 0;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 50%;
}

button {
    background-color: rgba(228, 228, 228, 0.96);
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 150px;
    padding: 10px;
    line-height: 10px;
    transition: all 0.3s;
    margin-left: 5px;
}

button:hover {
    cursor: hand;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

#ChatPage {
    width: 100%;
    display: grid;
    grid-template-areas: "left center right";
    grid-auto-columns: 28% 4% 68%;
    justify-content: center;
}

#left {
    grid-area: left;
    background-color: gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

#center {
    grid-area: center;
}

#right {
    grid-area: right;
    background-color: gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 25px 25px 0 25px;

    display: grid;
    grid-template-areas: "up" "down";
    grid-auto-rows: 80% 20%;
}

#up {
    grid-area: up;
}

#down {
    grid-area: down;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 228, 228, 0.96);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#boxMensagem {
    width: 100%;
}

#listaAmigos {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#listaAmigos thead {
    background-color: #424242;
    color: #e6e6e6;
    height: 30px;
}

#listaAmigos tbody {
    color: black;
}

#listaAmigos tbody tr {
    height: 25px;
    font-size: 15px;
    font-weight: normal;
}

#listaAmigos tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}

#listaAmigos tbody tr:nth-child(odd) {
    background-color: #bdbdbd;
}

.imgAmigo {
    width: 20px;
    height: 20px;
}

.imgAmigo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.box {
    margin: 10px 10px 0 10px;
    width: 60%;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
}

.mensagem {
    display: block;
    word-wrap: break-word;
    text-align: left;
}

.amigo {
    background-color: lightslategray;
}

.usuario {
    background-color: dimgray;
    margin-left: auto;
}